[submodule "dataset/scripts/slowloris"]
	path = dataset/scripts/slowloris
	url = https://github.com/Palatiin/slowloris.git
[submodule "dataset/scripts/hulk"]
	path = dataset/scripts/hulk
	url = https://github.com/Palatiin/hulk.git
